* {
    font-family: sans-serif;
}

img{
    width: 15%;
}

body {
    background-color: beige;
}

body,
html {
    margin: 0;
    padding: 0;
}

div {
    margin: 3px;
    border: 2px solid black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-direction: row;
}

.logo {
    background-color: lightblue;
    width: 75%;
    height: 15%;


}

.loginBox {
    background-color: red;
    width: 25%;
    height: 15%;
    padding: 20px;
    text-align: center;
}

.topNav {
    background-color: gray;
    height: 10%;
}

.home {
    background-color: gray;
    width: 75%;
    height: 55%;
}

.promo {
    background-color: gainsboro;
    width: 25%;
    height: 55%;
    padding: 20px;
}


.footer {
    background-color: lightblue;
    height: 20%;
    text-align: center;
}